<section class="bg-light position-relative mb-5 pt-2">
  <div class="container text-center">
    <h1 class="text-uppercase mt-5 fw-bold">portfolio component</h1>
    <div class="mb-5 text-center headingLine position-relative mb-4">
      <i class="fa-solid fa-star position-relative"></i>
    </div>
    <div class="mainInner position-relative">
      <div class="row g-4">
        <div class="col-md-6 col-lg-4">
          <button
            type="button"
            class="border-0"
            data-bs-toggle="modal"
            data-bs-target="#img1"
          >
            <div class="position-relative inner">
              <img src="/img/portfolio/poert1.png" alt="" class="w-100" />
              <div class="layer w-100 h-100 position-absolute top-0 start-0">
                <i
                  class="fa-solid fa-plus display-1 text-white position-absolute top-50 start-50 translate-middle"
                ></i>
              </div>
            </div>
          </button>
          <div class="modal fade" id="img1" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <img src="/img/portfolio/poert1.png" alt="" class="w-100" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <button
            type="button"
            class="border-0"
            data-bs-toggle="modal"
            data-bs-target="#img2"
          >
            <div class="position-relative inner">
              <img src="/img/portfolio/port2.png" alt="" class="w-100" />
              <div class="layer w-100 h-100 position-absolute top-0 start-0">
                <i
                  class="fa-solid fa-plus display-1 text-white position-absolute top-50 start-50 translate-middle"
                ></i>
              </div>
            </div>
          </button>
          <div class="modal fade" id="img2" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <img src="/img/portfolio/port2.png" alt="" class="w-100" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <button
            type="button"
            class="border-0"
            data-bs-toggle="modal"
            data-bs-target="#img3"
          >
            <div class="position-relative inner">
              <img src="/img/portfolio/port3.png" alt="" class="w-100" />
              <div class="layer w-100 h-100 position-absolute top-0 start-0">
                <i
                  class="fa-solid fa-plus display-1 text-white position-absolute top-50 start-50 translate-middle"
                ></i>
              </div>
            </div>
          </button>
          <div class="modal fade" id="img3" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <img src="/img/portfolio/port3.png" alt="" class="w-100" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <button
            type="button"
            class="border-0"
            data-bs-toggle="modal"
            data-bs-target="#img4"
          >
            <div class="position-relative inner">
              <img src="/img/portfolio/poert1.png" alt="" class="w-100" />
              <div class="layer w-100 h-100 position-absolute top-0 start-0">
                <i
                  class="fa-solid fa-plus display-1 text-white position-absolute top-50 start-50 translate-middle"
                ></i>
              </div>
            </div>
          </button>
          <div class="modal fade" id="img4" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <img src="/img/portfolio/poert1.png" alt="" class="w-100" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <button
            type="button"
            class="border-0"
            data-bs-toggle="modal"
            data-bs-target="#img5"
          >
            <div class="position-relative inner">
              <img src="/img/portfolio/port2.png" alt="" class="w-100" />
              <div class="layer w-100 h-100 position-absolute top-0 start-0">
                <i
                  class="fa-solid fa-plus display-1 text-white position-absolute top-50 start-50 translate-middle"
                ></i>
              </div>
            </div>
          </button>
          <div class="modal fade" id="img5" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <img src="/img/portfolio/port2.png" alt="" class="w-100" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <button
            type="button"
            class="border-0"
            data-bs-toggle="modal"
            data-bs-target="#img6"
          >
            <div class="position-relative inner">
              <img src="/img/portfolio/port3.png" alt="" class="w-100" />
              <div class="layer w-100 h-100 position-absolute top-0 start-0">
                <i
                  class="fa-solid fa-plus display-1 text-white position-absolute top-50 start-50 translate-middle"
                ></i>
              </div>
            </div>
          </button>
          <div class="modal fade" id="img6" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <img src="/img/portfolio/port3.png" alt="" class="w-100" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
